# Add any directories, files, or patterns you don't want to be tracked by version control
/Library
/Temp
/UnityPackageManager
/obj
/Bin
/gamedata
/temp.unitypackage
/Assets/Frameworks/Net/ProtocolDef/*.meta
/Assets/Frameworks/Net/ProtocolDef/*/*.meta
/Assets/Frameworks/Net/ProtocolDef/*/*/*.meta
/Assets/Frameworks/Net/ProtocolDef/*/*/*/*.meta
/Assets/Frameworks/Net/ProtocolDef/*/*/*/*/*.meta
/Assets/Frameworks/Net/ProtocolDef.meta
/Assets/Frameworks/Net/ProtocolBean/*.meta
/Assets/Frameworks/Net/ProtocolBean/*/*.meta
/Assets/Frameworks/Net/ProtocolBean/*/*/*.meta
/Assets/Frameworks/Net/ProtocolBean/*/*/*/*.meta
/Assets/Frameworks/Net/ProtocolBean/*/*/*/*/*.meta
/Assets/Frameworks/Net/ProtocolBean.meta
/Assets/GameLogic/ProtocolManager.cs.meta
/Assets/GameLogic/Net/CSharpAuthc/*.meta
/Assets/GameLogic/Net/CSharpAuthc/*/*.meta
/Assets/GameLogic/Net/CSharpAuthc/*/*/*.meta
/Assets/GameLogic/Net/CSharpAuthc/*/*/*/*.meta
/Assets/GameLogic/Net/CSharpAuthc/*/*/*/*/*.meta
/Assets/GameLogic/Net/CSharpAuthc/*/*/*/*/*/*.meta
/Assets/GameLogic/Net/CSharpAuthc/*/*/*/*/*/*/*.meta
/Assets/GameLogic/Net/CSharpAuthc/*/*/*/*/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Def/*.meta
/Assets/GameLogic/LocalProtocol/Def/*/*.meta
/Assets/GameLogic/LocalProtocol/Def/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Def/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Def/*/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Def/*/*/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Def/*/*/*/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Def/*/*/*/*/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Bean/*.meta
/Assets/GameLogic/LocalProtocol/Bean/*/*.meta
/Assets/GameLogic/LocalProtocol/Bean/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Bean/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Bean/*/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Bean/*/*/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Bean/*/*/*/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Bean/*/*/*/*/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Enum/*.meta
/Assets/GameLogic/LocalProtocol/Enum/*/*.meta
/Assets/GameLogic/LocalProtocol/Enum/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Enum/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Enum/*/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Enum/*/*/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Enum/*/*/*/*/*/*/*.meta
/Assets/GameLogic/LocalProtocol/Enum/*/*/*/*/*/*/*/*.meta
.vs
.DS_Store
*.suo
*.sln
*.csproj
*.userprefs
*.unityproj